@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eudoxus Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #D8D8D8;
}

h1 {
  font-size: xxx-large;
  font-weight: 500;
  padding: 2rem 0 2rem 0;
}

::-webkit-scrollbar {
  width: 0.5rem;
  position: fixed;
}

::-webkit-scrollbar-track {
  background: #1C2331;
}

::-webkit-scrollbar-thumb {
  background: #FFA500;
  border-radius: 100vw;
}

.closed-day {
  background-color: #550000;
  color: white;
}

.closed-day:hover {
  background-color: #6d0000 !important;
  color: white !important;
}

.closed-day:enabled:focus {
  background-color: #8a0000 !important;
  color: white;
}